<div class="element-bg-img"><img [src]=imagesPath.main alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let menuItem of menu; let last = last" [ngClass]="{'anc-bor': last}">
        <a href="#">{{menuItem}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>{{title}}</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div *ngFor="let item of items;" class="activity-row">
          <div class="activity-desc">
            <h5>{{item.first}}</h5>
            <p>{{item.second}}</p>
            <p>{{item.third}}</p>
            <h6>{{item.fourth}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img [src]=imagesPath.secondary1  alt=""/></li>
              <li><img [src]=imagesPath.secondary2  alt=""/></li>
            </ul>
          </div>
          <div class="clear"> </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Class work 20.10-->
<!--<input #myinput />-->
<!--<button (click) = doSomething(myinput.value)>-->
<!--Do Something-->
<!--</button>-->
<!--<app-item (itemClick) = "next($event)"></app-item>-->
<!--end Class work 20.10-->
