<h1>{{title}}</h1>

<div class="element">
  <div class="element-left">
    <app-village
      [menu] = "menu"
    >
      loading...
    </app-village>
  </div>

  <div class="element-right">
    <app-temperatur>loading...</app-temperatur>
    <app-teddy-bear>loading...</app-teddy-bear>
  </div>
  <div class="clear"> </div>
</div>

<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>




<!--Class work 20.10-->

<!--strictiral directives-->
<!--<h1 *ngIf="1">-->
  <!--{{title}}-->
<!--</h1>-->

<!--<ul *ngFor="let item of menu; let i = index;">-->
  <!--<li *ngIf="item ==='Hotel' || item ==='Tours'">{{i}} : {{item}}</li>-->
<!--</ul>-->

<!--<div [ngClass]="{'active': true}">text with "active" class</div>-->
<!--<div [ngStyle]="{'color': 'gre' + 'en'}">green text</div>-->

<!--&lt;!&ndash;Pipes&ndash;&gt;-->
<!--<div [ngStyle]="{color: 'white'}">-->
  <!--{{number|currency}}-->
<!--</div>-->

<!--<div [ngStyle]="{color: 'white'}">-->
  <!--{{number|mypipe: '3'}}-->
<!--</div>-->

<!--&lt;!&ndash;directives&ndash;&gt;-->
<!--<div appMylog></div>-->
<!--<input appMylog/>-->
<!--end Class work 20.10-->
